*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body {
    background: #fff;
    color: #333;
    font: normal 100% Helvetica, sans-serif;
}
h1 {
    font-size: 1em;
    font-weight: 700;
    padding: 0.4em 15px;
}
header > h1 {
    display: block;
    font-size: 1em;
    margin: 0.6em 30% 0.8em;
    min-height: 1.1em;
    outline: 0 none !important;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;    
}
.ui-bar-a {
    background: linear-gradient(#3C3C3C, #111) repeat scroll 0 0 #111;
    border: 1px solid #333;
    color: #FFF;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-shadow: 0 -1px 0 #000;
}
.container {
    margin: auto;
    overflow: hidden;
    padding: .625em 10px 1.5em; /* ems for top and bottom because those are adjusted based on font size (p43) */
}
article {
	  float: left;
    width: 65%;
    height: 200px!important;
}
aside {
    float: right;
    width: 35%;
}
footer > section {
    width: 33.333333%;
    float: left;
}
footer {
	clear: both;
}

article, section { 
    background: #fadb4e;
    background-image: linear-gradient(#fceda7,#fbef7e);
    box-shadow: 0px 0px 0px 1px #F7C942 inset;
    height: 100px;
    text-align: center;
}