*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    vertical-align: baseline;
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
body {
    background: #fff;
    color: #333;
    font: normal 100%/1.5em Helvetica, sans-serif; /* font-size: ~16px, line-height: ~24px; */
}
.container {
    margin: auto;
    width: 95%;
    padding: .625em 0 1.5em; /* 10px/16px, 0, 24px/16px */
}
footer > section {
    width: 100%;
    clear: both;
}
footer {
    clear: both;
}
section {
    min-height: 200px;
    margin-bottom: 1em;
    padding: 0.4em 0;
}
h1 {
    display: block;
    font-size: 1em;
    font-weight: 700;
    min-height: 1.1em;
    outline: 0 none !important;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
img {
    max-width: 100%;
    max-height: 100%; 
}
.pic-container { 
    text-align:center;
}
.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 9:16 aspect ratio */
}

/* The map needs to fit the dimensions of the box */
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
p {
    font-family: Special Elite;
    font-size: 1.125em; /* 18px / 16px */
    padding: 1em 1em;
}

/* Stack the layout when below 35em (~560px) */ 
@media (min-width: 35em) {
    footer > section {
        width: 49.1561181%; /* 466px / 948px */
        margin-right: 1.6877637%; /* 16px / 948px */
        float: left;
        clear: none;
    }
    footer > section:last-child {
        margin-right: 0;
    }
}